*{
    margin: 0;
    padding: 0;
}
.box{
    background: rgba(247, 247, 247,.9);
}
.header_bar{
    display: flex;
    background: #fff;
    padding: 5px;
}
.header_bar .back{
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
}
.header_bar .back img{
    width: 100%;
}
.header_bar .cart{
    width: 84%;
    text-align: center;
}
.header_bar #menu{
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
}
.header_bar #menu img{
    width: 100%;
}
/* 头部导航菜单 */
.header_nav{
    width: 125px;
    background-color: rgba(0,0,0,.8);
    right: 10px;
    top: 53px;
    border-radius: 40px;
    position: absolute;
    border-top-right-radius: 0px;
}
.header_nav .header_nav_item{
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    border-bottom: 1px solid #fff;
}
.header_nav .header_nav_item a{
    color: #fff;
    font-size: 14px;
    display: block;
    margin-top: -50px;
    margin-left: 50px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.header_nav .header_nav_item img{
    width: 25px;
    /* position: absolute; */
    margin: 5px;
    margin-right: 10px;
}
/* 手动轮播图 */
.swiper-container {
    width: 100%;
    height: 375px;
    border-bottom: 1px solid #ccc;
}
.swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container .swiper-slide img{
    width: 100%;
}
.swiper-pagination{
    background: #ccc;
    color: #fff;
    border-radius: 10px 0 0 10px;
}
/* 购买信息描述 */
.buy_area{
    overflow: hidden;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
}
.buy_area .item_desc p{
    color: #666;
    font-size: 12px;
}
/* 属性选择 */
.floor_item{
    margin-top: 10px;
    background: #fff;
    border-radius: 20px;
}
.floor_item .choose,.transfer,.weight{
    margin-top: 5px;
    padding: 15px 0;
}
.floor_item .weight{
    padding: 18px 20px 18px 0;
}
.floor_item .choose span,.transfer span,.weight span{
    font-size: 13px;
    color: #333;
    margin-left: 10px;
}
.floor_item .choose p,.transfer p{
    font-size: 12px;
    color: #8c8c8c;
    margin-left: 50px;
    padding-top: 5px;
}
/* 评价 */
.comment{
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    margin-top: 10px;
}
.comment .cmt_title{
    position: relative;
    height: 45px;
    line-height: 45px;
    color: #262626;
    padding-left: 8px;
    margin-top: 3px; 
}
.comment .cmt_title .count{
    top: 3px;
    left: 45px;
    font-size: 12px;
    position: absolute;
    height: 45px;
    line-height: 45px;
    margin: 0 0 0 10px;

}
.comment .cmt_title .good{
    top: 0;
    color: #8c8c8c;
    right: 15px;
    font-size: 13px;
    position: absolute;
    height: 45px;
    line-height: 45px;
    margin: 0 5px 0 0;
}
.comment .cmt_title .icon{
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: url('../img/right.png') no-repeat;
    background-size: cover;
}
.comment .cmt_tag{
    position: relative;
    padding: 3px 3px 0 0;
    max-height: 80px;
    margin: 0;
}
.comment .cmt_tag span{
    background: #fcedeb;
    border-radius: 15px;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    color: #262626;
}
.comment .cmt_user{
    font-size: 12px;
}
.comment .cmt_user img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}
.comment .cmt_user .user{
    margin-left: 12px;
    display: inline-block;
    color: #262626;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}
.comment .cmt_user .star{
    position: relative;
    display: inline-block;
    width: 56px;
    height: 10px;
    margin: -2px 0 -2px 6px;
    vertical-align: middle;
}
.comment .cmt_user .star span{
    width: 10px;
    height: 10px;
    margin-right: 2px;
    position: absolute;
    background-size: cover;
    background-image: url('../img/PhoneList/star.png');
}
.comment .cmt_user .date{
    float: right;
    color: #999;
    margin-left: -60px;
}
.comment .cmt_content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.5;
    font-size: 13px;
    margin: 18px 0;
    word-break: break-all;
    white-space: normal;
    max-height: 126px;
}
.comment .cmt_more{
    text-align: center;
    background-color: #fff;
}
.comment .cmt_more a{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #262626;
    padding: 0 5px 0 10px;
    margin-bottom: 18px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
}
/* 店铺 */
.shop{
    font-size: 14px;
    margin-top: 10px;
    background: #fff;
    border-radius: 20px;
    padding: 15px;
}
.shop .shop_name{
    height: 40px;
}
.shop .shop_name img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.shop .shop_name span{
    font-size: 13px;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 5px;
}
.shop .shop_tab{
    margin: 18px 0;
    display: flex;
}
.shop .shop_tab .tab_item{
    width: 100%;
    text-align: center;
}
.shop .shop_tab .tab_item .desc{
    font-size: 12px;
    color: #999;
    margin-top: 3px;
}
.shop .shop_btn{
    text-align: center;
}
.shop .shop_btn button{
    background-color: #fff;
    border: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
    padding: 0 20px;
    margin: 10px;
    outline: none;
}
 /* 商品信息 */
.product-detail{
    margin-top: 2%;
    
}
.product-detail .detail-tab{
    margin: 0 auto;
    background: #fff;
    border: none;
    border-radius: 10px;
    height: 61px;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.product-detail .detail-tab .detail-item{
    width: 33%;
    white-space: nowrap;
    text-align: center;
    margin: auto 0;
}
.product-detail .detail-tab .jd-video{
    width: 100%;
    margin-bottom: 10px;
    height: 180px;
    position: relative !important;
    overflow: hidden;
}