a{
    -webkit-tap-highlight-color: transparent;
}
.sort_box .sort_list{
    width: 22%;
}
.sort_box .sort_list ul{
    width: 100%;
    border: 0;
}
.sort_box .sort_list li{
    height: 46px;
    line-height: 46px;
    text-align: center;
}
.sort_box .sort_list .active{
    background-color: #fff;
}
.sort_box .sort_list li a{
    color: black;
    font-size: 14px;
    /* white-space: nowrap; */
}
.sort_box .sort_content{
   width: 78%;
   margin-left: 22%;
   top: 8.5%;
   position: absolute;
   overflow: hidden;
   background: #fff;
   /* position: fixed; */
}
.sort_box .sort_content ul{
    width: 100%;
}
.sort_box .sort_content ul li{
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
}
.sort_box .sort_content ul h4{
    margin-top: 10px;
    margin-left: 10px;
}
.sort_box .sort_content ul li a{
    color: black;
    text-align: center;
    font-size: 14px;
}
.sort_box .sort_content ul li img{
    width: 70px;
    height: 70px;
}

