<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/find.css">
</head>
<body>
        <div class="box">
        
                <div class="container">
                    <div class="find_box">
                        <p>登录后才能看到你关注店铺的最新动态哦</p>
                        <button onclick="window.location.href='./login.html'" type="submit">登录</button>
                    </div>
                </div>
                <div class="footer">
                    <ul>
                        <li><a href="../index.html"><img src="../img/footer/首页.png"><p>首页</p></a></li>
                        <li><a href="./sort.html"><img src="../img/footer/分类.png"><p>分类</p></a></li>
                        <li><a class="focus" href="./find.html"><img src="../img/footer/发现2.png"><p>发现</p></a></li>
                        <li><a href="./shopCart.html"><img src="../img/footer/购物车.png"><p>购物车</p></a></li>
                        <li><a href="./my.html"><img src="../img/footer/我的.png"><p>我的</p></a></li>
                    </ul>
                </div>
            </div>
</body>
<script>
   
</script>
</html>