<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/my.css">
</head>
<body>
        <div class="box">
            <!-- 头部 -->
            <div class="my_header_bar">
                <p>我的</p>
            </div>
            <!--  -->
            <div class="my_login_box">
                <div class="my_img">
                    <img src="../img/用户.png">
                </div>
                <div class="my_login">
                    <a href="./login.html"><p>登录/注册</p>
                        <!-- <img src="../img/大于号.png" > -->
                    </a>
                </div>
            </div>

            <div class="group">
                <div class="group_list">
                    <div class="option waitpay">
                        <a href=""><img src="../img/waitpay.png"><p>待付款</p></a>                
                    </div>
                    <div class="option waitrec">
                        <a href=""><img src="../img/waitrec.png"><p>待收货</p></a>
                    </div>
                    <div class="option return">
                        <a href=""><img src="../img/return.png"><p>退换/售后</p></a>
                    </div>
                    <div class="option allorder">
                        <a href=""><img src="../img/allorder.png"><p>全部订单</p></a>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="group_list">
                    <div class="option ">
                        <a href=""><p style="color: red;margin: 0;">0张</p><p>京东券</p></a>
                        
                    </div>
                    <div class="option waitrec">
                        <a href=""><p style="color: red;margin: 0;">开通有礼</p><p>白条</p></a>
                    </div>
                    <div class="option return">
                        <a href=""><p style="color: red;margin: 0;">0个</p><p>京豆</p></a>
                    </div>
                    <div class="option allorder">
                        <a href=""><p style="color: red;margin: 0;">0元</p><p>红包</p></a>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="group_list">
                    <div class="option option3">
                        <a href=""><p>0</p><p>商品收藏</p></a> 
                    </div>
                    <div class="option option3">
                        <a href=""><p>0</p><p>店铺收藏</p></a>
                    </div>
                    <div class="option option3">
                        <a href=""><p>0</p><p>我的足迹</p></a>
                    </div>
                    
                </div>
            </div>

            <div class="footer">
                <ul>
                    <li><a href="../index.html"><img src="../img/footer/首页.png"><p>首页</p></a></li>
                    <li><a href="./sort.html"><img src="../img/footer/分类.png"><p>分类</p></a></li>
                    <li><a href="./find.html"><img src="../img/footer/发现.png"><p>发现</p></a></li>
                    <li><a href="./shopCart.html"><img src="../img/footer/购物车.png"><p>购物车</p></a></li>
                    <li><a class="focus" href="./my.html"><img src="../img/footer/我的2.png"><p>我的</p></a></li>
                </ul>
            </div>
        </div>
</body>
</html>