<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/phoneDetail.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
</head>
<body>
    <div class="box">
        <!-- 头部导航条 -->
        <div class="header_bar">
            <div class="back" onclick="window.location.href='./phoneList.html'"><img src="../img/返回白.png"></div>
            <div class="cart"></div>
            <div id="menu"><img src="../img/省略号白.png"></div>
        </div> 
        <!-- 头部导航菜单 -->
        <div class="header_nav" style="display: none;z-index: 99;">
            <div class="header_nav_item">
                <img src="../img/首页3.png"><a href="../index.html">首页</a>
            </div>
            <div class="header_nav_item">
                <img src="../img/分类3.png"><a href="./sort.html">分类搜索</a>
            </div>
            <div class="header_nav_item">
                <img src="../img/购物车3.png"><a href="./shopCart.html">购物车</a>
            </div>
            <div class="header_nav_item">
                <img src="../img/我的3.png"><a href="./my.html">我的京东</a>
            </div>
        </div>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/PhoneList/iphone11.jpg"></div>
                <div class="swiper-slide"><img src="../img/PhoneList/iPhone02.webp"></div>
                <div class="swiper-slide"><img src="../img/PhoneList/iPhone03.webp"></div>
                <div class="swiper-slide"><img src="../img/PhoneList/iPhone04.webp"></div>
                <div class="swiper-slide"><img src="../img/PhoneList/iPhone05.webp"></div>
                <div class="swiper-slide"><img src="../img/PhoneList/iPhone06.webp"></div>
                </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination" style="width: 15%;left: 85%;"></div>
        </div>
        <!-- 购买信息描述 -->
        <div class="buy_area">
            <div class="price_wrap">
               <span style="font-size: 30px;color:red;font-weight: bold;">￥5999</span>
               <span style="color: #fc9131;">￥5969</span>
            </div>
            <div class="phone_name">
                <p><b>Apple iPhone 11 (A2223) 128GB 黑色 移动联通电信4G手机 双卡双待</b></p>
            </div>
            <div class="item_desc">
                <p>爆品限时特惠！大额神券抢购中！iPhone11立减500元，XR256GB黄色特惠低至4699元，XSMax抢券立减500元！超值推荐！</p>
            </div>
        </div>
        <!-- 属性选择  -->
        <div class="floor_item">
            <div class="choose">
                <span>已选</span>
                <span>绿色，64GB，换修无忧年付版，1个</span>
                <p>本商品支持保障服务，点击可选服务</p>
            </div>
            <div class="transfer">
                <span>送至</span>
                <span>北京朝阳区三环到四环之间</span>
                <p>23:10前下单，预计明天(05月17日)送达</p>
            </div>
            <div class="weight">
                <span>重量</span>
                <span>0.46kg</span>
            </div>
            <div class="serve"></div>
        </div>
        <!-- 评价 -->
        <div class="comment">
            <div class="cmt_title">
                <h3>评价</h3>
                <p class="count">186万+</p>
                <p class="good">好评度94%</p>
                <i class="icon"></i>
            </div>
            <div class="cmt_tag">
                <span>反应超快(4838)</span>
                <span>清晰度高(4351)</span>
                <span>颜色绚丽(3278)</span>
                <span>漂亮大方(2698)</span>
            </div>
            <div class="cmt_user">
                <img src="../img/PhoneList/user.png">
                <span class="user">j***k</span>
                <span class="star">
                    <span></span>
                    <span style="margin-left: 10px;"></span>
                    <span style="margin-left: 20px;"></span>
                    <span style="margin-left: 30px;"></span>
                    <span style="margin-left: 40px;"></span>
                </span>
                <span class="date">2020-5-18</span>
            </div>
            <div class="cmt_content">
                    手感特别好手机外观漂亮，一.仟的折.扣.很划算的，便宜了不少。款式好看，质量很好，正品，做工精致，屏幕细腻够大很清晰，色彩饱和度很不错，照相不错，很漂亮，音质也很棒，系统功能强大，运行速度很快，看电影听音乐都很给力，非常享受，操作简单，内存也足够。使用了一段时间的感受是充电一天一充，电池还是很耐用的，就是充电比较慢，不是比较是非常慢，充电的时间大概一上午，拍照发黄，但是拍出来的照片还不错，性价比超高的一款手机吧，还有一点就是打字这一块还不太适应，其他感觉良好。性价比蛮高的，而且价格还实惠便宜，
            </div>
            <div class="cmt_more">
                <a href="">查看全部评价</a>
            </div>
        </div>
        <!-- 店铺 -->
        <div class="shop">
            <div class="shop_name">
                <img src="../img/PhoneList/iPhoneShop.webp">
                <span>Apple产品京东自营旗舰店</span>
                <span style="background: red;color: #fff;">京东自营</span>
            </div>
            <div class="shop_tab">
                <div class="tab_item">
                    <div class="num">2020万</div>
                    <div class="desc">粉丝人数</div>
                </div>
                <div class="tab_item">
                    <div class="num">1733</div>
                    <div class="desc">全部商品</div>
                </div>
            </div>
            <div class="shop_btn">
                <button>关注店铺</button>
                <button>进入店铺</button>
            </div>
        </div>
        <!-- 商品信息 -->
        <div class="product-detail">
            <!-- TAB切换 -->
            <div class="detail-tab">
                <div class="detail-item pruduct-parameter">规格参数</div>
                <div class="detail-item pruduct-intro">商品介绍</div>
                <div class="detail-item pruduct-service">售后保障</div>
            </div>
            <!-- 视频 -->
            <div class="jd-video">
                <video src="../img/v.f20.mp4" controls="controls" style="width: 100%;height:100%;"></video>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
<script src="../js/swiper.min.js"></script>
<script>
    document.getElementById("menu").addEventListener("click",function(){
        var div = document.querySelector(".header_nav");
        if(div.style.display == "none"){
            div.style.display = "block";
        }else{
            div.style.display = "none";
        }
    }); 

     var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
    });   

    
</script>
</html>