<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/phoneList.css">
</head>
<body>
</div>
    <div class="box">
        <!-- 头部 -->
        <div class="header-top">
            <div class="back" onclick="window.location.href='./sort.html'"><img src="../img/返回.png"></div>
            <div class="search">
                <input class="search_input" type="text" placeholder="电子琴">
                <a href=""><img src="../img/搜索.png"></a>
            </div>
        </div>  
        <!-- 手机列表 -->
        <div class="phone_list">
            <div class="phone_item" onclick="window.location.href='./phoneDetail.html'">
                <div class="phone_cover"><img src="../img//PhoneList/iphone11.jpg"></div>
                <div class="phone_info">
                    <div class="phone_info_above">
                        <p class="phone_title">Apple iPhone 11</p>
                        <div class="phone_attr">
                            <span>128GB</span><span style="margin-left: 7%;">6.1英寸</span>
                        </div>
                    </div>
                    <div class="phone_info_below">
                        <div class="phone_price">￥5999</div>
                        <div class="phone_shop">Apple产品京东自营旗舰店</div>
                    </div>
                </div>
            </div>
            <div class="phone_item">
                <div class="phone_cover"><img src="../img//PhoneList/iphone11.jpg"></div>
                <div class="phone_info">
                    <div class="phone_info_above">
                        <p class="phone_title">Apple iPhone 11</p>
                        <div class="phone_attr">
                            <span>128GB</span><span style="margin-left: 7%;">6.1英寸</span>
                        </div>
                    </div>
                    <div class="phone_info_below">
                        <div class="phone_price">￥5999</div>
                        <div class="phone_shop">Apple产品京东自营旗舰店</div>
                    </div>
                </div>
            </div>
            <div class="phone_item">
                <div class="phone_cover"><img src="../img//PhoneList/iphone11.jpg"></div>
                <div class="phone_info">
                    <div class="phone_info_above">
                        <p class="phone_title">Apple iPhone 11</p>
                        <div class="phone_attr">
                            <span>128GB</span><span style="margin-left: 7%;">6.1英寸</span>
                        </div>
                    </div>
                    <div class="phone_info_below">
                        <div class="phone_price">￥5999</div>
                        <div class="phone_shop">Apple产品京东自营旗舰店</div>
                    </div>
                </div>
            </div>
            <div class="phone_item">
                <div class="phone_cover"><img src="../img//PhoneList/iphone11.jpg"></div>
                <div class="phone_info">
                    <div class="phone_info_above">
                        <p class="phone_title">Apple iPhone 11</p>
                        <div class="phone_attr">
                            <span>128GB</span><span style="margin-left: 7%;">6.1英寸</span>
                        </div>
                    </div>
                    <div class="phone_info_below">
                        <div class="phone_price">￥5999</div>
                        <div class="phone_shop">Apple产品京东自营旗舰店</div>
                    </div>
                </div>
            </div>
            <div class="phone_item">
                <div class="phone_cover"><img src="../img//PhoneList/iphone11.jpg"></div>
                <div class="phone_info">
                    <div class="phone_info_above">
                        <p class="phone_title">Apple iPhone 11</p>
                        <div class="phone_attr">
                            <span>128GB</span><span style="margin-left: 7%;">6.1英寸</span>
                        </div>
                    </div>
                    <div class="phone_info_below">
                        <div class="phone_price">￥5999</div>
                        <div class="phone_shop">Apple产品京东自营旗舰店</div>
                    </div>
                </div>
            </div>
            <div class="phone_item">
                <div class="phone_cover"><img src="../img//PhoneList/iphone11.jpg"></div>
                <div class="phone_info">
                    <div class="phone_info_above">
                        <p class="phone_title">Apple iPhone 11</p>
                        <div class="phone_attr">
                            <span>128GB</span><span style="margin-left: 7%;">6.1英寸</span>
                        </div>
                    </div>
                    <div class="phone_info_below">
                        <div class="phone_price">￥5999</div>
                        <div class="phone_shop">Apple产品京东自营旗舰店</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>