<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/bass.css"> -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/sort.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
    <div class="box">
        <!-- 头部搜索框 -->
        <div class="header-top">
            <div class="search">
                <input class="search_input" type="text" placeholder="电子琴">
                <a href=""><img src="../img/搜索.png"></a>
            </div>
        </div>

        <div class="sort_box">
            <!-- 左侧分类列表 -->
            <div class="sort_list">
                <ul>
                    <li class="active"><a href="javascript:;">热门推荐</a></li>
                    <li><a href="javascript:;">手机数码</a></li>
                    <li><a href="javascript:;">电脑办公</a></li>
                    <li><a href="javascript:;">家用电器</a></li>
                    <li><a href="javascript:;">美妆护肤</a></li>
                    <li><a href="javascript:;">运动户外</a></li>
                    <li><a href="javascript:;">酒水饮料</a></li>
                    <li><a href="javascript:;">家具家装</a></li>
                    <li><a href="javascript:;">箱包手袋</a></li>
                    <li><a href="javascript:;">钟表珠宝</a></li>
                    <li><a href="javascript:;">玩具乐器</a></li>
                    <li><a href="javascript:;">医药保健</a></li>
                    <li><a href="javascript:;">艺术邮币</a></li>
                    <li><a href="javascript:;">二手商品</a></li>
                </ul>
            </div>

            <!-- 右侧分类内容 -->
            <div class="sort_content">
                <ul class="sort_text">
                    <h4>热门分类</h4>
                    <li><a href="./phoneList.html"><img src="../img/sort/sj.png"><p>手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj2.jpg"><p>全面屏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj3.jpg"><p>游戏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/cdb.jpg"><p>充电宝</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/jglz.jpg"><p>经管励志</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/tjmy.jpg"><p>调节免疫</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/twj.jpg"><p>体温计</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/zybs.jpg"><p>中医保湿</p></a></li>
                </ul>
                <ul class="sort_text" style="display: none;">
                    <h4>热门品牌</h4>
                    <li><a href="javascript:;"><img src="../img/sort/cdb.jpg"><p>充电宝</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/jglz.jpg"><p>经管励志</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/tjmy.jpg"><p>调节免疫</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/twj.jpg"><p>体温计</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/zybs.jpg"><p>中医保湿</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj.png"><p>手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj2.jpg"><p>全面屏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj3.jpg"><p>游戏手机</p></a></li>
                </ul>
                <ul class="sort_text" style="display: none;">
                    <h4>热卖分类</h4>
                    <li><a href="javascript:;"><img src="../img/sort/cdb.jpg"><p>充电宝</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/jglz.jpg"><p>经管励志</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/tjmy.jpg"><p>调节免疫</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj2.jpg"><p>全面屏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj3.jpg"><p>游戏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/twj.jpg"><p>体温计</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/zybs.jpg"><p>中医保湿</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj.png"><p>手机</p></a></li>
                </ul>
                <ul class="sort_text" style="display: none;">
                    <h4>厨房小电</h4>
                    <li><a href="javascript:;"><img src="../img/sort/tjmy.jpg"><p>调节免疫</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj2.jpg"><p>全面屏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj3.jpg"><p>游戏手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/twj.jpg"><p>体温计</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/zybs.jpg"><p>中医保湿</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/sj.png"><p>手机</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/cdb.jpg"><p>充电宝</p></a></li>
                    <li><a href="javascript:;"><img src="../img/sort/jglz.jpg"><p>经管励志</p></a></li>
                </ul>
            </div>
        </div>

        <!-- 底部导航 -->
        <div class="footer">
            <ul>
                <li><a href="../index.html"><img src="../img/footer/首页.png"><p>首页</p></a></li>
                <li><a class="focus" href="./sort.html"><img src="../img/footer/分类2.png"><p>分类</p></a></li>
                <li><a href="./find.html"><img src="../img/footer/发现.png"><p>发现</p></a></li>
                <li><a href="./shopCart.html"><img src="../img/footer/购物车.png"><p>购物车</p></a></li>
                <li><a href="./my.html"><img src="../img/footer/我的.png"><p>我的</p></a></li>
            </ul>
        </div>
    </div>
</body>
<!-- <script src="./js/jquery-1.11.3.js"></script> -->
<script>
    $(function(){
        $('.sort_list ul li').on("touchstart",function(){
            $(".sort_list ul li").removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
                console.log(index);
                $(".sort_content .sort_text").eq(index).show();
                $(".sort_content .sort_text").eq(index).siblings().hide();
        })
        
    })

    
</script>
</html>